{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <div align="center">
        <h1 style="color: white;">Welcome to the account for  {{ full_name }}</h1>
        <img align="center" class="rounded-circle" src="{{ profile_image }}">
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <form method="POST" action="", enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.full_name.label() }}
                {{ form.full_name(class='form-control') }}
            </div>   <br>
            <div class="form-group">
                {{ form.email.label() }}
                {{ form.email(class='form-control') }}
            </div>  <br>
            <div class="form-group">
                {{ form.phone_number.label() }}
                {{ form.phone_number(class='form-control') }} <br>
            </div>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class='form-control') }} <br>
            </div>
            {{ form.submit(class='btn btn-primary') }}

        </form>
    </div>
</div>


{% endblock %}
