<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css" ></style>
    <link rel="stylesheet" href="static/register.css" ></style>

    <title>Student Project</title>

</head>
<body>

<!--Write in body section the codes-->
<!--Body section-->
<div class="html-container">
    <div class="html-section">
        <div class="html-project">
            <div class="navigation">
                <nav>
                    <ul class="nav-type">
                        <li><a href="{{ url_for('core.index') }}"  class="active">Home</a></li>
                        <li><a href="{{ url_for('core.info') }}"  class="active1">About</a></li>
                        {% if current_user.id == 1 %}
                        <li><a href="{{ url_for('users.admin_page') }}" class="active2">Admin page</a></li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('users.account') }} " class="active2">Account</a></li>
                        <li><a href="{{ url_for('users.logout') }} " class="active2">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('users.login') }}"  class="active2">Login</a></li>
                        <li><a href="{{ url_for('users.register') }}"  class="active3">Register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% for mess in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fad show" role="alert">
    <button type="button" class="fade close" data-dismiss="alert" aria-label="close">
        <span class="aria-hidden">&times;</span>
    </button>
    {{ mess }}

</div>
{% endfor %}

{% block content %}

{% endblock %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>