{% extends "base.html" %}
{% block content %}

<div class="container">
    <table class="table table-striped">
        <tr>
            <th>
                Teacher Name
            </th>
             <th>
                Email
            </th>
            <th>
                Description
            </th>
            <th>
                Profile Picture
            </th>
            <th>
                Student
            </th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td> {{ teacher.teacher_name }} </td>
            <td> {{ teacher.email }} </td>
            <td> {{ teacher.description }} </td>
            <td><img align="center" class="rounded-circle" src="{{ url_for('static', filename='images/' + teacher.teach_profile) }}"></td>
            <td> {{ teacher.user_id }} </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}